# Computer Lab Exercises week

* These lab exercises are designed to further develop you skills with working with pandas dataframes
* A screencast on downloading jupyter notebooks from the online store.
https://youtu.be/1zY7hIj5tWg
* These exercises are **not** part of the assessment of the Module.
*â€€I will post the solutions roughly 1 week after this file has been uploaded to the DLE.
* Please first watch and work through the linkedin learning video
* Please note that pasting python from pdf can sometimes cause problems. For example quotation marks can sometimes be converted incorrectly, so then running python will cause errors.

* See https://sites.google.com/view/pythonforstemstudents/home for a collection
of links to information on python.

## Question 1
The dataframe below comes from a medical study of some students at University. Use
pandas to do the following tasks.

*  Delete the **Student_ID**  column
*  Change the age of Sahil from 41 to 21
*  Compute the mean weight. 
*  Replace the unknown weights wih the mean weight.

The dataframe is in the cell below

In [30]:
import pandas as pd
import numpy as np

data=[["Karan",23,80,2034],["Rohit",22,np.nan,678],["Sahil",41,95,673],["Aryan",22,np.nan, 1786]]
df=pd.DataFrame(data,columns=["Name","Age", "Weight_kg", "Student_ID"])

print(df)

    Name  Age  Weight_kg  Student_ID
0  Karan   23       80.0        2034
1  Rohit   22        NaN         678
2  Sahil   41       95.0         673
3  Aryan   22        NaN        1786

The output should like:
<pre>
   Name  Age  Weight_kg  Student_ID
0  Karan   23       80.0        2034
1  Rohit   22        NaN         678
2  Sahil   41       95.0         673
3  Aryan   22        NaN        1786
Delete Student_ID row
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22        NaN
2  Sahil   41       95.0
3  Aryan   22        NaN
Update age of Sahil 
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22        NaN
2  Sahil   21       95.0
3  Aryan   22        NaN
Mean weight =  87.5 kg
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22       87.5
2  Sahil   21       95.0
3  Aryan   22       87.5

</pre>

In [32]:
##  put your solutioon here

import pandas as pd
import numpy as np

data=[["Karan",23,80,2034],["Rohit",22,np.nan,678],["Sahil",41,95,673],["Aryan",22,np.nan, 1786]]
df=pd.DataFrame(data,columns=["Name","Age", "Weight_kg", "Student_ID"])

print(df)

print("Delete Student_ID row")
df.drop(["Student_ID"],axis=1,inplace=True)
print(df)
print("Update age of Sahil ")
df.loc[2,'Age'] = 21
print(df)
mm= df['Weight_kg'].mean()
print("Mean weight = " , mm , "kg")
df.fillna(mm, inplace=True)
print(str(df))

    Name  Age  Weight_kg  Student_ID
0  Karan   23       80.0        2034
1  Rohit   22        NaN         678
2  Sahil   41       95.0         673
3  Aryan   22        NaN        1786
Delete Student_ID row
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22        NaN
2  Sahil   41       95.0
3  Aryan   22        NaN
Update age of Sahil
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22        NaN
2  Sahil   21       95.0
3  Aryan   22        NaN
Mean weight =  87.5 kg
    Name  Age  Weight_kg
0  Karan   23       80.0
1  Rohit   22       87.5
2  Sahil   21       95.0
3  Aryan   22       87.5

##  Question 2

In [4]:
import pandas as pd

# The file is available on the DLE
df = pd.read_csv("resources_57e2507e-7342-4cb1-b284-014caaa463a2_extract-for-dataplay-dataplay-master-csv.csv")
print(df.head())

print(df.columns)

  Placestoppedstreet Placestoppedtown  EstimatedAge Monthyear   GRIDREFERENCE  \
0                NaN              NaN            17    Apr-19  244974; 060033
1                NaN              NaN            16    May-19  248200; 060630
2                NaN              NaN            14    Sep-19  246933; 056200
3                NaN              NaN            35    Aug-19  248182; 054717
4                NaN              NaN            25    May-19  246332; 059320

   GRIDREF1  GRIDREF2
0  244974.0   60033.0
1  248200.0   60630.0
2  246933.0   56200.0
3  248182.0   54717.0
4  246332.0   59320.0
Index(['Placestoppedstreet', 'Placestoppedtown', 'EstimatedAge', 'Monthyear',
       'GRIDREFERENCE', 'GRIDREF1', 'GRIDREF2'],
      dtype='object')

The Devon and Cornwall police provide data about stop
and search between 2018 and 2019 at:
https://plymouth.thedata.place/dataset/plymouth-stop-search-data

* Use pandas to delete the following columns: 'Placestoppedstreet' , 'Monthyear' , 'GRIDREFERENCE', 'GRIDREF1' and 'GRIDREF1'.

* Use pandas to compute the maximum and minimum 'EstimatedAge'.

* Delete any rows with ages which do not look correct.

* Sometimes PLYMOUTH, Plmyouth, and Plymouth is used in the data set. Use the **replace** method to  change PLYMOUTH, Plmyouth, to Plymouth.

* Compute the mean age for each area.


The final output should look like:
<pre>
                  EstimatedAge
Placestoppedtown              
Devenport            41.000000
Honiton              35.000000
Newton Abbot         34.000000
Plymouth             31.905882
Plympton             55.000000
St. Ives             18.000000
Tavistock            34.000000
Truro                41.000000
</pre>

In [ ]:
import pandas as pd

# The file is available on the DLE
df = pd.read_csv("resources_57e2507e-7342-4cb1-b284-014caaa463a2_extract-for-dataplay-dataplay-master-csv.csv")
print(df.head())

print(df.columns)

In [35]:
## Put your solution here

import pandas as pd

df = pd.read_csv("resources_57e2507e-7342-4cb1-b284-014caaa463a2_extract-for-dataplay-dataplay-master-csv.csv")
#print(df.head())

#print(df.columns)

df = df.drop('Placestoppedstreet', 1)
df = df.drop('Monthyear', 1)
df = df.drop('GRIDREFERENCE', 1)
df = df.drop('GRIDREF1', 1)
df = df.drop('GRIDREF2', 1)

print("Maximum " , df['EstimatedAge'].max())
print("Minimum " , df['EstimatedAge'].min())

ggg = df[df['EstimatedAge'] < 0 ]
print("Negative values")
print(ggg)

df = df.drop(labels=63, axis=0)

print("(after data cleaning) Minimum " , df['EstimatedAge'].min())

df =df.replace('PLYMOUTH', 'Plymouth')
df =df.replace('Plmyouth', 'Plymouth')
print(df.groupby("Placestoppedtown").mean() )

Maximum  71
Minimum  -1
Negative values
   Placestoppedtown  EstimatedAge
63              NaN            -1
(after data cleaning) Minimum  13
                  EstimatedAge
Placestoppedtown
Devenport            41.000000
Honiton              35.000000
Newton Abbot         34.000000
Plymouth             31.905882
Plympton             55.000000
St. Ives             18.000000
Tavistock            34.000000
Truro                41.000000

/var/folders/6m/lb4tj5q142l1fydx4rw88kkhtkdcl_/T/ipykernel_79567/3833344344.py:10: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Placestoppedstreet', 1)
/var/folders/6m/lb4tj5q142l1fydx4rw88kkhtkdcl_/T/ipykernel_79567/3833344344.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('Monthyear', 1)
/var/folders/6m/lb4tj5q142l1fydx4rw88kkhtkdcl_/T/ipykernel_79567/3833344344.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('GRIDREFERENCE', 1)
/var/folders/6m/lb4tj5q142l1fydx4rw88kkhtkdcl_/T/ipykernel_79567/3833344344.py:13: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('GRIDREF1', 1)
/var/folders/6m/lb4tj5q142l1fydx4rw88kkhtkdcl_/T/ipykernel_79567/3833344344.py:14: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop('GRIDREF2', 1)

##  Question 3: python programming


This is an example of python programming. The file 
life-expectancy-females-2010-2014.csv contains some
information about life expectancy of women in Plymouth in
different areas of Plymouth.
The data came from https://plymouth.thedata.place/dataset/life-expectancy-data-plymouth.

In [5]:
import pandas as pd
import numpy as np

# the file is avilable on the DLE
df = pd.read_csv("life-expectancy-females-2010-2014.csv")
print(df.head())
print(df.columns)

life = df['Life expectancy at birth for females, 2010-2014 (years)'].tolist()
for x in life:
   print(x)

   Ward Code Plymouth Wards (2015)  \
0  E05002096              Budshead
1  E05002094               Compton
2  E05002080             Devonport
3  E05002081                 Drake
4  E05002085     Efford and Lipson

   Life expectancy at birth for females, 2010-2014 (years)  \
0                                               78.8
1                                               79.0
2                                               79.3
3                                               79.4
4                                               81.0

   LCL - Lower confidence limit  UCL - Upper confidence limit
0                          77.5                          80.1
1                          77.3                          80.7
2                          77.9                          80.6
3                          76.7                          82.1
4                          79.7                          82.3
Index(['Ward Code', 'Plymouth Wards (2015)',
       'Life expectancy at birth for females, 2010-2014 (years)',
       'LCL - Lower confidence limit', 'UCL - Upper confidence limit'],
      dtype='object')
78.8
79.0
79.3
79.4
81.0
81.5
81.6
81.7
82.0
82.2
82.6
83.1
83.2
83.5
83.6
84.2
84.3
85.0
85.4
87.1

Many machine learning algorithms require that the input data 
(in this case life time data) is
scaled to be range 0 to 1,  or the range -1 to 1.

If the input data is $x_i$ then the \textbf{normalization scaling} is
$$
\overline{x}_i = \frac{x_i - min} {max - min}
$$
where $min$ is the minimum value and $max$ is the
maximum value.

Another type of scaling is \textbf{standardization.}
$$
\overline{y}_i = \frac{x_i - \mu} {\sigma}
$$
where
$\mu$ is the mean of the data and
$\sigma$ is the standard deviation of the data.

 Write some python code to 
compute the normalization scaling and standardization scaling to the
life list.

In [36]:
# Put your solution here 
import pandas as pd
import numpy as np

# This file can be found on the DLE
df = pd.read_csv("life-expectancy-females-2010-2014.csv")

print(df.head())

print(df.columns)

life_mean  = df['Life expectancy at birth for females, 2010-2014 (years)'].tolist()

print(type(life_mean))

max_ = max(life_mean)
min_ = min(life_mean)

print("Maximum " , max_)
print("Minimum " , min_)

print("Normalization scaling")
for life in life_mean  :
  life_norm = (life - min_) / (max_ - min_)
  print(life, life_norm)


##
##  standardization
##

import numpy as np

life_ = np.array(life_mean)
mean = life_.mean()
sigma = life_.std()

print("Mean = " , mean)
print("Sigma = " , sigma)

print("Standardization  scaling")
for life in life_mean  :
  life_norm = (life - mean) / sigma
  print(life, life_norm)

   Ward Code Plymouth Wards (2015)  \
0  E05002096              Budshead
1  E05002094               Compton
2  E05002080             Devonport
3  E05002081                 Drake
4  E05002085     Efford and Lipson

   Life expectancy at birth for females, 2010-2014 (years)  \
0                                               78.8
1                                               79.0
2                                               79.3
3                                               79.4
4                                               81.0

   LCL - Lower confidence limit  UCL - Upper confidence limit
0                          77.5                          80.1
1                          77.3                          80.7
2                          77.9                          80.6
3                          76.7                          82.1
4                          79.7                          82.3
Index(['Ward Code', 'Plymouth Wards (2015)',
       'Life expectancy at birth for females, 2010-2014 (years)',
       'LCL - Lower confidence limit', 'UCL - Upper confidence limit'],
      dtype='object')
<class 'list'>
Maximum  87.1
Minimum  78.8
Normalization scaling
78.8 0.0
79.0 0.024096385542169026
79.3 0.06024096385542171
79.4 0.07228915662650708
81.0 0.26506024096385583
81.5 0.32530120481927755
81.6 0.3373493975903612
81.7 0.3493975903614466
82.0 0.38554216867469926
82.2 0.4096385542168683
82.6 0.45783132530120463
83.1 0.5180722891566263
83.2 0.5301204819277117
83.5 0.5662650602409643
83.6 0.5783132530120481
84.2 0.6506024096385551
84.3 0.6626506024096388
85.0 0.7469879518072295
85.4 0.7951807228915676
87.1 1.0
Mean =  82.42499999999998
Sigma =  2.187892821872223
Standardization  scaling
78.8 -1.6568453279617243
79.0 -1.5654331719362482
79.3 -1.4283149378980373
79.4 -1.3826088598852961
81.0 -0.6513116116815002
81.5 -0.4227812216178132
81.6 -0.3770751436050784
81.7 -0.3313690655923371
82.0 -0.19425083155412617
82.2 -0.10283867552865006
82.6 0.07998563652229565
83.1 0.30851602658598265
83.2 0.354222104598724
83.5 0.4913403386369349
83.6 0.5370464166496697
84.2 0.811282884726098
84.3 0.8569889627388328
85.0 1.176931508827996
85.4 1.3597558208789482
87.1 2.136759147095479

You can read more about scaling of input data in chapter 5 of the 
100 page machine learning book 
(http://themlbook.com/)
You can download chapters in pdf from this site.

##  Question 3: using pandas

There is data about air quality around hospitals and
surgeries available at:
https://plymouth.thedata.place/dataset/air-quality-data.
The key column is "PM2\_5" which is the density of
small particles, which can enter the blood stream via 
the lungs. The World Health organization warns that
levels of ``PM2\_5'' above 10 can cause health problems
(see https://www.blf.org.uk/take-action/campaign/nhs-toxic-air-report.)

In [7]:
import pandas as pd

df = pd.read_csv("resources_cd162ad1-d7d5-42a9-b1ab-0edbcd697f1e_air-quality-by-pm2.5-score-blf.org.uk.csv")
print(df.head())

print(df.columns)

                       Name  \
0          West Hoe Surgery
1   Adelaide Street Surgery
2   Devonport Health Centre
3            Armada Surgery
4  North Road West Med.ctr.

                                             Address Post Code  \
0    West Hoe Surgery, 2 Cliff Road, Plymouth, Devon   PL1 3BP
1    20 Adelaide Street, Stonehouse, Plymouth, Devon   PL1 3JF
2          Damerel Close, Devonport, Plymouth, Devon   PL1 4JZ
3  Armada Surg, 28 Oxford Pl, Western Approach, P...   PL1 5AJ
4  North Road West Med.ctr., 167 North Road West,...   PL1 5BZ

                          Town         Type  PM2_5  Exceed_10   Latitude  \
0  St Peter and the Waterfront  GP Practice   8.87      False  50.364834
1  St Peter and the Waterfront  GP Practice  10.32       True  50.370562
2                    Devonport  GP Practice  10.71       True  50.370004
3  St Peter and the Waterfront  GP Practice  10.80       True  50.374693
4  St Peter and the Waterfront  GP Practice  11.45       True  50.376062

   Longitude
0  -4.150356
1  -4.155762
2  -4.167845
3  -4.144895
4  -4.146265
Index(['Name', 'Address', 'Post Code', 'Town', 'Type', 'PM2_5', 'Exceed_10',
       'Latitude', 'Longitude'],
      dtype='object')

Use pandas to answer the following questions:

* **(a)** What is the mean value of "PM2\_5" for all the data in the file?

* **(b)** Use the groupby pandas method to find the total number of   "GP Practice" and "Hospital".

* **(c)** Print the "Latitude" and "Longitude" of the locations with "PM2\_5" greater than 10.

In [37]:
##  Put your solution  here

import pandas as pd

df = pd.read_csv("resources_cd162ad1-d7d5-42a9-b1ab-0edbcd697f1e_air-quality-by-pm2.5-score-blf.org.uk.csv")
#print(df.head())

#print(df.columns)

df_anal = df[[ 'Type', 'PM2_5'  ]]

print("Answer Q1a")
print("Mean PM2_5  = " , df_anal["PM2_5"].mean() )

print("Answer Q1b")
print(df.groupby('Type')["Name"].count())

print("--------------------------------------------------")

df_A = df[df['PM2_5'] > 10 ]

print("Answer Q1c")
print(df_A[[ 'Latitude', 'Longitude'  ]])

Answer Q1a
Mean PM2_5  =  9.227671232876713
Answer Q1b
Type
GP Practice    61
Hospital       12
Name: Name, dtype: int64
--------------------------------------------------
Answer Q1c
     Latitude  Longitude
1   50.370562  -4.155762
2   50.370004  -4.167845
3   50.374693  -4.144895
4   50.376062  -4.146265
20  50.383921  -4.177328
21  50.387979  -4.160899
22  50.393672  -4.147820
31  50.344309  -4.760374
38  50.379001  -4.166779
39  50.389271  -4.129838
46  50.368649  -4.122853
47  50.382894  -4.139146
48  50.382512  -4.131575
49  50.378837  -4.116613
50  50.372660  -4.128292
51  50.373198  -4.127909
52  50.404946  -4.188552
54  50.410582  -4.139943
55  50.408630  -4.134098
56  50.411256  -4.159425
57  50.417443  -4.150289